<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/recipes.css" rel="stylesheet" />
    <link href="~/css/recipeinfo.css" rel="stylesheet" />
</head>
<body class="min-vh-100">

    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
    <div class="container-fluid">
    <div>
    <a class="navbar-brand" asp-area="" asp-controller="Skafferiet" asp-action="Index">Skafferiet🥗</a>
    @if (User.Identity.IsAuthenticated)
    {
    RenderSection("breadcrumb", false);
    }
    </div>
    <div>
    @if (User.Identity.IsAuthenticated)
    {
    <a class="btn btn-outline-primary" asp-controller="Skafferiet" asp-action="Logout">Log out</a>
    }
    @RenderSection("navbutton", false)
    </div>
    </div>
    </nav>*@

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Skafferiet" asp-action="Index">Skafferiet🥗</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form>
                            @if (User.Identity.IsAuthenticated)
                            {
                                RenderSection("breadcrumb", false);
                            }
                        </form>
                    </li>
                </ul>
                <form>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-primary" asp-controller="Skafferiet" asp-action="Logout">Log out</a>
                    }
                    @RenderSection("navbutton", false)
                </form>
            </div>
        </div>
    </nav>

    <div class="fill-view">
        @RenderBody()
    </div>


    <footer class="d-flex justify-content-between mx-2">
        <div class="navbar-brand col"> Skafferiet🥗</div>
        <div class="col text-end align-self-center" style="text-align: right;">&copy; Skafferiet Inc.2023. We love food!</div>
    </footer>

    @RenderSection("scripts", false)
</body>
</html>
