@model HomeVM
<div>
    @{
        ViewData["Title"] = "Home";
    }
</div>

    <div class="menu">
        <h1 class="navbar-brandHeader">Skafferiet</h1>

        <form id="inventory" asp-controller="Skafferiet" asp-action="Home">
            <label class="AIngredientStyle" for="ingredients">Add ingredient:</label>
            <br />
            <select class="selectStyle" asp-for="AddIngredient" asp-items="Model.IngredientsList"></select>

            <button form="inventory" class="btn btn-primary AddIngredientStyle" id="addIngredientButton" onclick="document.getElementById('addIngredientButton').disabled = true ;document.getElementById('inventory').submit(); ">Add Ingredient</button>
            <button type="submit" form="getRecipes" class="btn btn-success GetRecipesStyle" @(!Model.IsIngredientChosen ? "disabled" : "")>Get Recipes</button>
        </form>

        @if (Model.IsIngredientChosen)
        {
            <div id="inventoryDiv">

            <form id="getRecipes" asp-action="Recipes" asp-controller="Skafferiet">
                <ul class="list-unstyled">
                    @foreach (var item in Model.Inventory)
                    {
                        <li>
                            <div class="d-flex">
                                <a class="btn-close deleteStyle" asp-action="Delete" asp-controller="Skafferiet" asp-route-ingredientName="@item.Value" onclick="clickAndDisable(this)"></a>
                                <div class="d-inline-block align-middle">
                                    <div class="d-inline-block align-middle checkboxes">
                                        <label for="@item.Value" class="labelStyle d-inline-block align-middle">@item.Value
                                        <input type="checkbox" class="InputStyle" name="@nameof(HomeVM.SelectedIngredients)" value="@item.Value" id="@item.Value" checked="" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </form>
        </div>

        }
        else
        {
            <div>
                <p>Your pantry is empty!</p>
            </div>
        }
    </div>


<script>
    function clickAndDisable(link) {
        // disable subsequent clicks
        link.onclick = function (event) {
            event.preventDefault();
        }
    }
</script>


