@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<form id="inventory" asp-controller="Skafferiet" asp-action="Home">


    <label for="ingredients">Choose an ingredient:</label>

    <select asp-for="AddIngredient" asp-items="Model.IngredientsList">

        <option>Ingredients</option>



    </select>

</form>

	<button type="submit" form="inventory"  class="btn btn-primary">Add Ingredient</button>
    <button type="submit" form="getRecipes" class="btn btn-success">Get recipes</button>



<div id="inventoryDiv">

                    <form id="getRecipes" asp-action="Recipes" asp-controller="Skafferiet">
                        
    <ul class="list-unstyled">

    @foreach (var item in Model.Inventory)
    {

			<li>
                <div class= "d-flex">


                    <a class="btn-close" asp-action="Delete" asp-controller="Skafferiet" asp-route-ingredientName="@item.Value">
					
            </a>
                <div class="d-inline-block align-middle">  
                    @item.Value

                    <div class="d-inline-block align-middle">


                    <input type="checkbox" name="@nameof(HomeVM.SelectedIngredients)" value="@item.Value" id="@item.Value" checked=""/>
                    </div>
                    
                
                
                </div>
                </div>
        </li>
        
        

       
    }


    </ul>

                    </form>
</div>

