@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<form id="inventory" asp-controller="Skafferiet" asp-action="Home">


    <label for="ingredients">Choose an ingredient:</label>

    <select asp-for="AddIngredient" asp-items="Model.IngredientsList">

        <option>Ingredients</option>



    </select>

</form>

	<button type="submit" form="inventory"  class="btn btn-primary" onclick="showValue()">Add Ingredient</button>
    <button type="submit" form="getRecipes" class="btn btn-success">Get recipes</button>



<div id="inventoryDiv">

    <ul class="list-unstyled">

    @foreach (var item in Model.Inventory)
    {

			<li>
				<form id="deleteInventory" asp-action="Delete" asp-controller="Skafferiet">
					<button class="d-inline-block align-middle btn-close" type="submit" name="ingredientName" value="@item.IngredientName"></button>
            </form>
                <div class="d-inline-block align-middle">  
                    @item.IngredientName

                    <form id="getRecipes" asp-action="Recipes">
                    <input type="checkbox" name="@item.IngredientName" value="@item.IngredientName" id="@item.IngredientName"/>
                    </form>
                    
                
                
                </div>
        </li>
        
        

       
    }


    </ul>

</div>

