@model RecipesVM[]
<h1 class="text-center">Suggested recipes</h1>

<hr />
@for (int i = 0; i < Model.Length; i++)
{
    if (i % 2 == 0)
    {
        <div class="card mb-3 text-center mx-auto" style="max-width: 540px;">
            <a class="discrete-link" asp-action="RecipeInfo" asp-route-id="@Model[i].Id">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@Model[i].Title</h5>
                            <p class="card-text hot-green recipe-font">Ingredients totally: @Model[i].IngredientsTotally</p>
                            <p class="card-text text-danger recipe-font">Ingredients missing: @Model[i].MissedIngredientCount</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="card mb-3 text-center mx-auto" style="max-width: 540px;">
            <a class="discrete-link" asp-action="RecipeInfo" asp-route-id="@Model[i].Id">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@Model[i].Title</h5>
                            <p class="card-text hot-green recipe-font">Ingredients totally: @Model[i].IngredientsTotally</p>
                            <p class="card-text text-danger recipe-font">Ingredients missing: @Model[i].MissedIngredientCount</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </a>
        </div>
    }
}

