@model RecipeInfoVM;

<h1>@Model.Title</h1>
<span>(@Model.Servings servings ready in @Model.ReadyInMinutes minutes)</span>
@foreach (var item in Model.Ingredients)
{
    <p>@item</p>
}
<img src="@Model.Image"/>
<h2>Instructions</h2>
<ol>
    @foreach (var item in Model.Instructions)
    {
        <li>@item</li>
    }
</ol>