@model RecipesVM[]

@section breadcrumb{
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Home" asp-controller="Skafferiet">Ingredients</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recipes</li>
        </ol>
    </nav>
}
<h1 class="text-center">Suggested recipes</h1>

<hr />
@for (int i = 0; i < Model.Length; i++)
{
    if (i % 2 == 0)
    {
        <div class="card mb-3 text-center mx-auto recipeItem" style="max-width: 540px;">
            <a class="discrete-link" asp-action="RecipeInfo" asp-route-id="@Model[i].Id">
                <div class="row g-0">
                    <div class="col-md-4">
                        @{
                            if (Model[i].MissedIngredientCount == 0)
                            {
                                <img class="position-absolute top-0 start-0" src="~/images/thumb-up.png" />
                            }
                        }
                        <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@Model[i].Title</h5>
                            <p class="card-text hot-green recipe-font">Ingredients totally: @Model[i].IngredientsTotally</p>
                            <p class="card-text text-danger recipe-font">Ingredients missing: @Model[i].MissedIngredientCount</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="card mb-3 text-center mx-auto recipeItem" style="max-width: 540px;">
            <a class="discrete-link" asp-action="RecipeInfo" asp-route-id="@Model[i].Id">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@Model[i].Title</h5>
                            <p class="card-text hot-green recipe-font">Ingredients totally: @Model[i].IngredientsTotally</p>
                            <p class="card-text text-danger recipe-font">Ingredients missing: @Model[i].MissedIngredientCount</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @{
                            if (Model[i].MissedIngredientCount == 0)
                            {
                                <img class="position-absolute top-0 end-0" src="~/images/thumb-up.png" />
                            }
                        }
                        <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </a>
        </div>
    }
}
@*<a asp-action="Recipes" asp-controller="Skafferiet" asp-route-multipleid="@Model[0].Multiple">5 more</a>*@

