@model RecipeInfoVM;

@section breadcrumb{
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb RecipeInfo">
            <li class="breadcrumb-item RecipeInfo"><a asp-action="Home" asp-controller="Skafferiet">Ingredients</a></li>
            <li class="breadcrumb-item RecipeInfo"><a href="javascript:history.back()" @*onclick="history.back()"*@>Recipes</a></li>
            <li class="breadcrumb-item active RecipeInfo" aria-current="page">Recipe</li>
        </ol>
    </nav>
}

<div class="container mx-auto">
    <h1 class="mb-5 mt-5 SizeForTitle">@Model.Title <span class="SizeForTextInParenthesis">(@Model.Servings servings ready in @Model.ReadyInMinutes minutes)</span></h1>
    <div class="row">

        <div class="col-md-6">

            <span class="badge text-bg-success" @(Model.Vegetarian ? "" : "hidden")>Vegetarian</span>
            <span class="badge text-bg-success" @(Model.Vegan ? "" : "hidden")>Vegan</span>
            <span class="badge text-bg-success" @(Model.GlutenFree ? "" : "hidden")>Gluten Free</span>
            <span class="badge text-bg-success" @(Model.DairyFree ? "" : "hidden")>Dairy Free</span>
            <h4 class="mt-0 SizeForIngrTitle">You need to use the following ingredients</h4>
            <div class="list-group-item">
                @foreach (var item in Model.Ingredients)
                {
                    <div class="mb-2 SizeForIngrNInst">@item</div>
                }
            </div>
            <h4 class="mt-5 SizeForIngrTitle">Instructions</h4>
            <ol class="RecipeInfo">
                @foreach (var item in Model.Instructions)
                {
                    <li class="mb-2 RecipeInfo SizeForIngrNInst">@item</li>
                }
            </ol>
        </div>
        <div class="col-md-6 imgDiv">
            <img src="@Model.Image" class="ImgInRecipe" />
        </div>

        <div>
            @Model.Nutrients[0].Name
            @Model.Nutrients[0].Amount
            @Model.Nutrients[0].Unit

            @Model.Nutrients[1].Name
            @Model.Nutrients[1].Amount
            @Model.Nutrients[1].Unit

            @Model.Nutrients[2].Name
            @Model.Nutrients[2].Amount
            @Model.Nutrients[2].Unit

            @Model.Nutrients[3].Name
            @Model.Nutrients[3].Amount
            @Model.Nutrients[3].Unit


        </div>
    </div>
</div>

